<!-- books/templates/books/books_list.html -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h2> Hello {{ name }} </h2>

    <h4> List of books </h4>

    <ul>
    {% for obj in object_list %}
        <!-- <li> <a href=" {% url 'book:bookdetail' obj.id %}"> {{ obj }} </a> </li> -->
        <li> <a href="{{ obj.get_absolute_url }}"> {{ obj }} </a> </li>
    {% endfor %}
    </ul>

{% endblock %}