<!-- books/templates/books/context_ex.html -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h2> Hello {{ name }} </h2>

    <p> Below are the good fruits </p>
    <ul>
    {% for fruit in fruits %}
        <li> {{ fruit }} </li>
    {% endfor %}
    </ul>

{% endblock %}