<!-- books/templates/books/create_form.html -->

{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
    <div class="col-sm-offset-3 col-sm-4">
        <h1> Add {{ item }} </h1>

        {% if errors %}
            <span style="color: red">{{ errors }}</span>
        {% endif %}

        <form method="post"> {% csrf_token %}
            <!-- {{ form.as_p }} -->
            {{ form|crispy}}
            <button type="submit" class="btn btn-info"> Save </button>
        </form>
    </div>
    </div>
{% endblock %}