<!-- books/templates/books/search_form.html -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">
    <div class="col-sm-offset-2 col-sm-4">
    <h3> Search page </h3>
    <form method="get" action='{% url "book:booksearchresult" %}'>
        <input class="form-control" type="text" placeholder="Search" name="q" >
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
    </div>

{% endblock %}